<div id="app">
  <%= flash[:done] %>
  <!--ここで、@meansをviewに渡すことができたら、vue.jsでかく。 -->
  <meanbar :means= "<%= @means.to_json %>" con_name="<%= @content.content_name%>" current_user_id = "<%= @current_user %>" authenticity_token="<%= @session_id %>"></meanbar>
  
</div>
<!--したの処理をフロント側でしたい。 -->

<%= link_to "ホーム", root_path %>

<%= javascript_pack_tag 'mean' %>
